body{
    text-align: center;
    font-family: Verdana;
    background: #FA605E;
    }  
ol{
    display: inline-block;
    }
img{
    border-radius: 50%;
    border: 10px dashed #5F93A4;
    width: 40%;
    }
.main{
    background: url("https://images.unsplash.com/photo-1512070950669-a53f137d67b0?auto=format&fit=crop&w=750&q=80");
    height: 100vh;
}
