body{
    text-align: center;
    font-family: Verdana;
    background: #FA605E;
    }  
ol{
    display: inline-block;
    }
img{
    border-radius: 50%;
    border: 10px dashed #5F93A4;
    width: 40%;
    }
